<template name="detail">
<div class="detail">
	<h3>{{name}}</h3>
	{{>preview renderModel}}
	<div>
		{{#if isOwner}}
		<h3>Management</h3>
		<div>
			<button>Delete</button>
		</div>
		{{/if}}

		<h3>Comments</h3>
		<div>
			{{#if currentUser}} <input id="comment-field" type="text">
			{{/if}}
		</div>
		{{#if hasComment}}
		<div>
			{{#each comments}}
				<div>{{authorName}} - {{comment}}</div>
			{{/each}}
		</div>
		{{else}}
			<div>No commet yet, be ther first reviewer.</div>
		{{/if}}
	</div>
	
</div>
</template>