<template name="post">
<div class="post">
	{{#if currentUser}}
		<table>
			<tr>
				<th>Name</th>
				<td><input type="text" placeholder="Name" id="name-field"></td>
			</tr>
	
			<tr>
				<th>EPF</th>
				<td>
					<textarea id="epf-field"></textarea>
				</td>
			</tr>
			
			<tr>
				<th>Description</th>
				<td>
					<textarea id="description-field"></textarea>
				</td>
			</tr>
			<tr>
				<th>
				</th>
				<td>
					<button id="submit-button">submit</button>
				</td>
			</tr>
		</table>
	{{else}}
		<div>You have to sign in to share your theme.</div>
	{{/if}}
</div>
</template>