template(name="about")
	.jumbotron.well
		h1 Eclipse Theme Store
		p.
			Share your <b>Jeeeyul's Eclipse Themes Presets</b> or discover others!
	
	
	.row
		.col-sm-6
			h3. What is this?
			p.text-justify.
				<b>Eclipse Theme Store</b> is an sharing service for <b>Theme Presets</b>
				which are based on <a href="https://github.com/jeeeyul/eclipse-themes">Jeeeyul's Eclipse Themes</a> plug-in.
				
			p.text-justify.
				This site is intended to be opened with <b>Store Client</b> that is shipped with theme plug-in,
				However also supports plain browser includes mobile.
			
			p.text-justify.
				This site and content are <b>not</b> managed by Eclipse, This is an individual personal project by Jeeeyul.
			
		.col-sm-6
			+howToApply
		
		.col-sm-6
			h3. No warranties
			p.text-justify.
				This services is powered by meteor and also running on free <a href="https://meteor.com">meteor.com</a> server.
				This server is not intended to run production level service. So, <b>Eclipse Theme Store</b> can be not work temporarily or permanently without warnings.
			p.text-justify.
				It means that shared preset content can be lost by some reason.
			p.text-justify.
				If you want to make this service more reliable with dedicated server, 
				consider <a href="https://pledgie.com/campaigns/18377">donation</a>. 