<template name="detail">
<div class="detail">
	{{>preview}}
</div>
</template>

<template name="detailActivePart">
	<div class="form-heading" style="{{formHeadingStyle}}">
		{{setTitle name}}
		{{name}} by <a href="/author/{{authorId}}">{{authorName}}</a>
		<div class="toolbar">
			{{#if canLike}}
				<button id="like-button">Like {{likeCount}}</button>
			{{else}}
				<button id="like-button" disabled>Like {{likeCount}}</button>
			{{/if}}
			{{#if canInstall}}
				<button id="install-button">Install</button>
			{{else}}
				<button id="download-epf">Download EPF</button>
			{{/if}}
		</div>
	</div>
	<div class="form-heading-border" style="{{formHeadingBorderStyle}}"></div>
	<div class="form-content">
		<div class="section-header" style="{{sectionHeaderStyle}}">Description</div>
		<div class="section-content">
			{{#if description}}
				{{description}}
			{{else}}
				Description Not Available
			{{/if}}
		</div>
		<div class="section-header" style="{{sectionHeaderStyle}}">Stats</div>
		<div class="section-content">
			This theme was downloaded and installed {{downloadAndInstallCount}} time(s) and liked {{likeCount}} time(s).
		</div>
		<div class="section-header" style="{{sectionHeaderStyle}}">Share</div>
		<div class="section-content">
		Share this theme into
		<a
			class="share-link"
			href="http://twitter.com/share?url={{currentURL}}&text=Check out {{name}}&hashtags=eclipse-theme"
			style="{{hyperlinkStyle}}"
			target="_blank">Tweeter</a> 
		or
		<a
			class="share-link"
			href="https://plus.google.com/share?url={{currentURL}}"
			style="{{hyperlinkStyle}}"
			target="_blank">
			Google Plus
		</a>


	</div>
		{{#if isOwner}}
			<div class="section-header" style="{{sectionHeaderStyle}}">Management</div>
			<div class="section-content">
				<table>
					<tr>
						<th>Name</th>
						<td><input type="text" placeholder="Name" id="name-field" value="{{name}}"></td>
					</tr>
			
					<tr>
						<th>EPF</th>
						<td>
							<textarea id="epf-field">{{epfContent}}</textarea>
							{{#if canInject}}
								<button id="inject-button">Inject with current settings</button>
							{{/if}}
						</td>
					</tr>
					
					<tr>
						<th>Description</th>
						<td>
							<textarea id="description-field">{{description}}</textarea>
						</td>
					</tr>
					<tr>
						<th>
						</th>
						<td>
							<button id="update-button">Update</button>
							<button id="delete-button">Delete</button>
						</td>
					</tr>
				</table>
			</div>
		{{/if}}
	</div>
</template>

<template name="detailInactivePart">
<div>
	<div class="form-content">
		<div class="section-header" style="{{sectionHeaderStyle}}">Comments</div>
		<div class="section-content">
			{{#if currentUser}}
				 <input id="comment-field" type="text" placeholder="Leave a comment">
			{{else}}
				<label>Sign-in is require to leave comment</label>
			{{/if}}
		
			{{#if hasComment}}
			<div>
				{{#each comments}}
				<div class="comment-entry">
					<label class="author">{{authorName}}</label> <label class="comment">{{comment}}</label>
				</div>
				{{/each}}
			</div>
			{{else}}
				<div>No commet yet, be ther first reviewer.</div>
			{{/if}}
		</div>
	</div>
</div>

</template>