<template name="detail">
<div class="detail">
	<h3>{{name}} by <a href="/author/{{authorId}}">{{authorName}}</a></h3>
	{{>preview renderModel}}
	<div>
		{{#if canLike}}
			<button id="like-button">Like {{likeCount}}</button>
		{{else}}
			<button id="like-button" disabled>Like {{likeCount}}</button>
		{{/if}}
		{{#if canInstall}}
			<button id="install-button">Install</button>
		{{else}}
			<button id="download-epf">Download EPF</button>
		{{/if}}
	</div>
	{{#if description}}
		<div>
			<h3>Description</h3>
			{{description}}
		</div>
	{{/if}}

	<div>
		{{#if isOwner}}
			<h3>Management</h3>
			<table>
				<tr>
					<th>Name</th>
					<td><input type="text" placeholder="Name" id="name-field" value="{{name}}"></td>
				</tr>
		
				<tr>
					<th>EPF</th>
					<td>
						<textarea id="epf-field">{{epfContent}}</textarea>
						{{#if canInject}}
							<button id="inject-button">Inject with current settings</button>
						{{/if}}
					</td>
				</tr>
				
				<tr>
					<th>Description</th>
					<td>
						<textarea id="description-field">{{description}}</textarea>
					</td>
				</tr>
				<tr>
					<th>
					</th>
					<td>
						<button id="update-button">Update</button>
						<button id="delete-button">Delete</button>
					</td>
				</tr>
			</table>
		{{/if}}

		<h3>Comments</h3>
		<div>
			{{#if currentUser}}
				 <input id="comment-field" type="text" placeholder="Leave a comment">
			{{/if}}
		</div>
		{{#if hasComment}}
		<div>
			{{#each comments}}
			<div class="comment-entry">
				<label class="author">{{authorName}}</label> <label class="comment">{{comment}}</label>
			</div>
			{{/each}}
		</div>
		{{else}}
			<div>No commet yet, be ther first reviewer.</div>
		{{/if}}
	</div>
	
</div>
</template>