template(name="donate")
	.jumbotron.well
		h1 Do you like this project?
		p
			| There are various way to support this project.
			
	.row
		.col-sm-6
			h4 Share your presets
			p
				| If you created a good theme using <b>Jeeeyul's Eclipse Themes</b>, Please <a href="{{pathFor 'post'}}">share it</a>.
				| And let other knows it! More users, more feedback, more quality. It's simple fact.
			
		.col-sm-6
			h4 Code Contribution and Bug Reports
			p
				| Are you eclipse plugin developer? visit <a href="https://github.com/jeeeyul/eclipse-themes">Github</a>,
				| Explore code and documents. You can create issues or pull requests.
	.row
		.col-sm-6
			h4 Buy my Apps!
			p
				| Are you iPhone user? You could
				a(href="https://itunes.apple.com/us/artist/jeeeyul-lee/id917932611" target="_blank") buy my apps from App Store
				| to support my independent open source project.
			p
				| <a href="https://itunes.apple.com/us/artist/jeeeyul-lee/id917932611" target="_blank"><img src="images/appstore-badge@2x.png" style="width:111px;"></a>
		
			
		.col-sm-6
			h4 Wanna buy some beer for me?
			p Giving money is most easy contribution as far as I experienced. 
			p
				| <a href='https://pledgie.com/campaigns/18377' target="_blank"><img alt='Click here to lend your support to: Jeeeyul&#x27;s Eclipse Contributions and make a donation at pledgie.com !' src='https://pledgie.com/campaigns/18377.png?skin_name=chrome' border='0' ></a>
			p
				| <a href="https://gratipay.com/jeeeyul/" target="_blank"><img src="//img.shields.io/gratipay/jeeeyul.svg"></a>
			p
				| <a href="http://flattr.com/thing/1686209/Jeeeyuls-Eclipse-Themes" target="_blank"><img src="http://api.flattr.com/button/flattr-badge-large.png" alt="Flattr this" title="Flattr this" border="0" /></a>