<template name="preview">
<div class="preview">
	{{#with renderModel}}
		<div class="toolbar" style="{{toolbarStyle}}">
			<div class="tool-item">
				<img src="/images/new_wiz.gif">
				<img src="/images/save_edit.gif">
				<img src="/images/print_edit.gif">
			</div>
			<div class="perspective-switcher" style="{{perspectiveSwitcherStyle}}">
				<label>Java</label>
			</div>
		</div>
		<div class="window" style="{{windowStyle}}">
			<div class="tab-folder active" style="{{tabFolderStyle}}">
				<div class="tab-header-border" style="{{tabHeaderBorderStyle true}}">
					<div class="tab-header" style="{{tabHeaderStyle true}}">
						<div class="active tab-item-border" style="{{tabItemBorderStyle true "SELECTED"}}">
							<div class="active tab-item" style="{{tabItemStyle true "SELECTED"}}"><label>Active</label></div>
							<div class="glue" style="{{glueStyle true}}"></div>
						</div>
						<div class="tab-item-border" style="{{tabItemBorderStyle true "HOVER"}}">
							<div class="tab-item"  style="{{tabItemStyle true "HOVER"}}"><label>Hover</label></div>
						</div>
						<div class="tab-item-border" style="{{tabItemBorderStyle true "UNSELECTED"}}">
							<div class="tab-item"  style="{{tabItemStyle true "UNSELECTED"}}"><label>Inactive</label></div>
						</div>
					</div>
				</div>
				<div class="tab-body" style="{{tabBodyStyle true}}">
					<div class="content" style="{{contentStyle true}}">
						{{#if detailMode}}
							{{> detailActivePart ..}}
						{{else}}
							Active Part Stack
						{{/if}}
					</div>
				</div>
			</div>
			<div class="tab-folder active" style="{{tabFolderStyle}}">
				<div class="tab-header-border" style="{{tabHeaderBorderStyle false}}">
					<div class="tab-header" style="{{tabHeaderStyle false}}">
						<div class="active tab-item-border" style="{{tabItemBorderStyle false "SELECTED"}}">
							<div class="active tab-item"  style="{{tabItemStyle false "SELECTED"}}"><label>Active</label></div>
							<div class="glue" style="{{glueStyle false}}"></div>
						</div>
						<div class="tab-item-border" style="{{tabItemBorderStyle false "HOVER"}}">
							<div class="tab-item"  style="{{tabItemStyle false "HOVER"}}"><label>Hover</label></div>
						</div>
						<div class="tab-item-border" style="{{tabItemBorderStyle false "UNSELECTED"}}">
							<div class="tab-item"  style="{{tabItemStyle false "UNSELECTED"}}"><label>Inactive</label></div>
						</div>
					</div>
				</div>
				<div class="tab-body" style="{{tabBodyStyle false}}">
					<div class="content" style="{{contentStyle false}}">
						{{#if detailMode}}
							{{> detailInactivePart ..}}
						{{else}}
							Inactive Part Stack
						{{/if}}
					</div>
				</div>
			</div>
		</div>
		<div class="status-bar" style="{{statusBarStyle}}">
			Status Bar
		</div>
	{{/with}}
</div>
</template>

