<template name="theme">
	<div class="theme">
		<div class="description">
			<a href="/detail/{{_id}}">{{name}}</a> by <a href="#" id="author-link">{{authorName}}</a>
		</div>
		<div>
			{{>preview renderModel}}
		</div>
		<div class="toolbar">
			{{#if canLike}}
				<button id="like-button">Like {{likeCount}}</button>
			{{else}}
				<button id="like-button" disabled>Like {{likeCount}}</button>
			{{/if}}
			{{#if canInstall}}
				<button id="install-button">Install</button>
			{{else}}
				<button id="download-epf">Download EPF</button>
			{{/if}}
		</div>
		
	</div>
</template>