.theme{
	display: inline-block;
	position: relative;
	height: 270px;
	vertical-align:top;
	
	>.toolbar {
		position: absolute;
		right: 8px;
		text-align: right;
	}
	
	>.description {
		padding-left:8px;
	}
}