.MTrimmedWindow.topLevel {
	margin-top: 2px;
	margin-left: 2px;
	margin-right: 2px;
}

.MPartStack {
	swt-tab-renderer:
		url('bundleclass://net.jeeeyul.eclipse.themes/net.jeeeyul.eclipse.themes.rendering.KTabRenderer');
}

MTrimBar#org-eclipse-ui-main-toolbar {
	background-color: #ededed #dbdbdb;
}

#org-eclipse-ui-main-toolbar #PerspectiveSwitcher {
	eclipse-perspective-keyline-color: #aaafbd;
}