.MTrimmedWindow.topLevel {
	margin-top: 2px;
	margin-left: 2px;
	margin-right: 2px;
	background-color: #ddd;
}

.MTrimBar#org-eclipse-ui-main-toolbar {
	background-color: #ccc #aaa;
}

.MPartStack {
	swt-tab-renderer:
		url('bundleclass://net.jeeeyul.eclipse.themes/net.jeeeyul.eclipse.themes.rendering.JeeeyulsTabRenderer');
	swt-unselected-tabs-color: #eee #ddd white 100% 100%;
	swt-selected-tabs-background: white white 100%;
	swt-tab-height: 22px;
	
	jtab-unselected-tabs-background : none;
	jtab-selected-border-color: red;
	jtab-unselected-border-color: none;
	jtab-border-color: none;
	jtab-border-radius: 3px;
	jtab-spacing: 2px;
	jtab-close-button-line-width: 2px;
	jtab-close-button-color: gray;
	jtab-close-button-hot-color : darkRed;
	jtab-close-button-active-color: darkRed;
	jtab-close-button-hot-color: darkRed;
	jtab-hover-color : green;
}

.MPartStack.active {
	swt-tab-renderer:
		url('bundleclass://net.jeeeyul.eclipse.themes/net.jeeeyul.eclipse.themes.rendering.JeeeyulsTabRenderer');
	swt-selected-tabs-background: rgb(246, 126, 44) rgb(246, 126, 44) white
		white 17% 17% 100%;
	swt-unselected-tabs-color: #eee #ddd white 100% 100%;
	jtab-border-color: #888;
}

.MPartSashContainer {
	jeeeyul-sash-width: 2px;
}

#org-eclipse-ui-main-toolbar #PerspectiveSwitcher {
	background-color: white #ddd;
	handle-image: none;
	eclipse-perspective-keyline-color: #888;
}