.MTrimmedWindow.topLevel {
	margin-top: 6px;
	margin-left: 3px;
	margin-right: 3px;
	background-color: #ededed;
}

.MTrimBar#org-eclipse-ui-main-toolbar {
	background-color:  #ededed #dbdbdb 100%;
}

.MPartStack {
	swt-tab-renderer:
		url('bundleclass://net.jeeeyul.eclipse.themes/net.jeeeyul.eclipse.themes.rendering.JeeeyulsTabRenderer');
	swt-tab-height: 22px;
	color: black;
	jtab-background-color: #ededed;
	jtab-hover-color: black;
	swt-unselected-tabs-color: #ededed #e1e1e1 white 100% 100%;
	swt-selected-tabs-background: white white 100%;
	jtab-unselected-tabs-background: none;
	jtab-hover-tabs-background: #bbb #ccc 100%;
	jtab-margin: 0px 3px 3px 2px;
	jtab-shadow-color: #bbb;
	jtab-shadow-radius: 3px;
	jtab-shadow-position: 1px 1px;
	jtab-close-button-line-width: 1px;
	jtab-close-button-color: gray;
	jtab-close-button-hot-color: darkRed;
	jtab-close-button-active-color: darkRed;
	jtab-close-button-hot-color: darkRed;
	jtab-border-radius: 3px;
	jtab-spacing: 2px;
	jtab-border-color: #a6a6a6;
	jtab-selected-border-color: #a6a6a6;
	jtab-unselected-border-color: none;
	jtab-hover-border-color: gray #ddd 100%;
	jtab-unselected-text-shadow-color: white;
	jtab-hover-text-shadow-color: white;
}

.MPartStack>CTabItem {
	color: black;
}

.MPartStack>CTabItem:selected {
	color: #333;
}

.MPartStack.active {
	swt-tab-renderer:
		url('bundleclass://net.jeeeyul.eclipse.themes/net.jeeeyul.eclipse.themes.rendering.JeeeyulsTabRenderer');
	swt-selected-tabs-background: white white 100%;
	swt-unselected-tabs-color: #dfe6f7 #d0d9eb white 100% 100%;
	
	jtab-border-color : #798aad;
	jtab-selected-border-color:#798aad;
	jtab-unselected-border-color:none;
	
	jtab-hover-tabs-background: #edf1f9 #e6ebf4 100%;
	jtab-hover-border-color: #cfd5e2 #cfd4e0 100%;
	jtab-hover-text-color: black;
	
	jtab-unselected-text-color:black;
	jtab-unselected-text-shadow-color: white;
	
	
}

.MPartSashContainer {
	jeeeyul-sash-width: 2px;
}

#org-eclipse-ui-main-toolbar #PerspectiveSwitcher {
	background-color: white #ededed;
	handle-image: none;
	eclipse-perspective-keyline-color: #aaafbd;
}

.MToolControl.TrimStack {
	frame-image: url(chrome://frame?background-color=#ddd);
	frame-cuts: 5px 1px 5px 16px;
	handle-image: url(images/handle.png);
}

.MTrimBar .Draggable {
	handle-image:
		url(chrome://drag-handle?height=22&background-color=#ddd&embossed=false);
}

#org-eclipse-ui-main-toolbar .Draggable {
	handle-image:
		url(chrome://drag-handle?height=22&background-color=#ededed&embossed=false);
}

#org-eclipse-ui-main-toolbar .TrimStack {
	frame-image: url(chrome://frame?background-color=#ddd);
	handle-image:
		url(chrome://drag-handle?height=22&background-color=#ededed&embossed=false);
}