/**************************************************
 * Window
 **************************************************/
Shell.MTrimmedWindow {
	margin-top: 4px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 3px;
	background-color: #ece1e9;
}

.MPartSashContainer {
	jsash-width : 2px;
	background-color: #ece1e9;
}

/**************************************************
 * Main Toolbar
 **************************************************/
#org-eclipse-ui-main-toolbar {
	background-color:#dcbad3 #c797bb 100%;
}

#org-eclipse-ui-main-toolbar > .Draggable {
	handle-image:
		url(jeeeyul://drag-handle?height=22&background-color=#d1a8c7&embossed=false);
}

#org-eclipse-ui-main-toolbar > .TrimStack {
	frame-image: none;
	handle-image:
		url(jeeeyul://drag-handle?height=22&background-color=#d1a8c7&embossed=false);
}

#org-eclipse-ui-main-toolbar #PerspectiveSwitcher {
	background-color: #ffffff #ece1e9 100%;
	handle-image: none;
	eclipse-perspective-keyline-color: #996b8d;
}

#org-eclipse-ui-main-toolbar #PerspectiveSwitcher ToolBar {
	jtool-item-color : #7a2965;
}

/**************************************************
 * Status Bar
 **************************************************/
#org-eclipse-ui-trim-status{
	background-color:#996b8d #996b8d #d1a8c7 #c797bb 6%6% 100%;
}

#org-eclipse-ui-trim-status,
#org-eclipse-ui-trim-status *
{
	color : #24272a;
}

#org-eclipse-ui-trim-status ToolBar{
	jtool-item-color : #24272a;
}

#org-eclipse-ui-trim-status .Draggable {
	handle-image:
		url(jeeeyul://drag-handle?height=22&background-color=#cca0c1&embossed=false);
}

#org-eclipse-ui-trim-status .TrimStack {
	handle-image:
		url(jeeeyul://drag-handle?height=22&background-color=#cca0c1&embossed=false);
	frame-image: url(jeeeyul://frame?background-color=#cca0c1);
	frame-cuts: 4px 2px 5px 16px;
}

/**************************************************
 * Trim Stack
 **************************************************/
Shell.MTrimmedWindow > .MTrimBar > .TrimStack {
	frame-image: url(jeeeyul://frame?background-color=#ece1e9);
	frame-cuts: 4px 2px 5px 16px;
	handle-image:
		url(jeeeyul://drag-handle?height=22&background-color=#ece1e9&embossed=false);
}

Shell.MTrimmedWindow > .MTrimBar > .MToolBar.Draggable {
	handle-image:
		url(jeeeyul://drag-handle?height=22&background-color=#ece1e9&embossed=false);
}



/**************************************************
 * Inactive Part Stack
 **************************************************/
.MPartStack {
	swt-tab-renderer: url('bundleclass://net.jeeeyul.eclipse.themes/net.jeeeyul.eclipse.themes.rendering.JeeeyulsTabRenderer');
	swt-mru-visible: true;
	
	/* layout */
	swt-tab-height: 22px;
	jtab-border-radius: 6px;
	jtab-spacing: 2px;
	jtab-item-padding: 0px 5px;
	jtab-padding : 2px;
	jtab-truncate-tab-items : false;
	jtab-use-ellipses : false;
	jtab-minimum-characters : 1;
	jtab-close-button-alignment : middle;
	
	jtab-margin : 0px 4px 4px 1px; /* top right bottom left */
	jtab-shadow-color: #715168;
	jtab-shadow-position: 1px 1px;
	jtab-shadow-radius: 3px;
	
	/* tab background */
	jtab-header-background : #dac5d5 #cfb8c9 100%;
	jtab-border-color : #af9daa #af9daa 100%;
	background : #ffffff;
	
	/* selected tabs */
	jtab-selected-tab-background: #ffffff #ffffff 100%;
	jtab-selected-border-color: #af9daa #af9daa 100%;
	jtab-selected-text-shadow-color: none;

	/* unselected tabs */
	jtab-unselected-tabs-background: none;
	
	jtab-unselected-border-color: none;
	jtab-unselected-text-shadow-position: 0px 1px;
	jtab-unselected-text-shadow-color: #ffffff;
	
	/* hover tabs */
	jtab-hover-color : #811264;
	jtab-hover-tabs-background: #e4d9e1 #e1cedc 100%;
	
	jtab-hover-border-color: none;
	jtab-hover-text-shadow-position: 0px 1px;
	jtab-hover-text-shadow-color: #ffffff;
	
	jtab-close-button-color: #cdcdcd;
	jtab-close-button-hot-color: #b05656;
	jtab-close-button-active-color: #dd1b1b;
	jtab-close-button-line-width: 2px;
	
	jtab-chevron-color: #811264;
}

.MPartStack>CTabItem {
	/* unselected tab text */
	color: #811264;
}

.MPartStack>CTabItem:selected {
	/* selected tab text */
	color: #000000;
}


/**************************************************
 * Empty Part Stack
 **************************************************/
.MPartStack.empty{
	jtab-header-background : #d9b5d0 #d9b5d0 100%;
	jtab-border-color : #d9b5d0 #d9b5d0 100%;
	background : #d9b5d0;
}

/**************************************************
 * Active Part Stack
 **************************************************/
.MPartStack.active {
	swt-tab-renderer: url('bundleclass://net.jeeeyul.eclipse.themes/net.jeeeyul.eclipse.themes.rendering.JeeeyulsTabRenderer');
	
	/* tab background */
	jtab-header-background : #e07dc5 #c54da5 100%;
	jtab-border-color : #811264 #811264 100%;
	background : #ffffff;
	
	/* selected tabs */
	jtab-selected-tab-background: #ffffff #ffffff 100%;
	jtab-selected-border-color: #811264 #811264 100%;
	jtab-selected-text-shadow-color: none;

	/* unselected tabs */
	jtab-unselected-tabs-background: none;
	
	jtab-unselected-border-color: none;
	jtab-unselected-text-shadow-position: 0px 1px;
	jtab-unselected-text-shadow-color: #811264;
	
	/* hover tabs */
	jtab-hover-color : #ffffff;
	jtab-hover-tabs-background: #e0a8d1 #c77db4 100%;
	
	jtab-hover-border-color: none;
	jtab-hover-text-shadow-color: none;
	
	jtab-close-button-color: #cdcdcd;
	jtab-close-button-hot-color: #b05656;
	jtab-close-button-active-color: #dd1b1b;
	jtab-close-button-line-width: 2px;
	
	jtab-chevron-color: #ffffff;
}

.MPartStack.active>CTabItem {
	/* unselected tab text */
	color: #ffffff;
}

.MPartStack.active>CTabItem:selected {
	/* selected tab text */
	color: #000000;
}

/**************************************************
 * Busy Part
 **************************************************/
.MPart{
	font-style: normal;
}

.MPart.busy {
	font-style: italic;
}

/**************************************************
 * editors
 **************************************************/
CTabFolder#org-eclipse-ui-editorss.MArea{
	swt-tab-renderer: url('bundleclass://net.jeeeyul.eclipse.themes/net.jeeeyul.eclipse.themes.rendering.JeeeyulsTabRenderer');
	swt-tab-height: 10px;
	jtab-header-background : #d9b5d0 #d9b5d0 100%;
	jtab-border-color : none;
	jtab-selected-tab-background: #d9b5d0 #d9b5d0 100%;
	jtab-selected-border-color: none;
	swt-single : true;
	
	jtab-margin : 0px 4px 4px 1px; /* top right bottom left */
	jtab-shadow-color: #715168;
	jtab-shadow-position: 1px 1px;
	jtab-shadow-radius: 3px;
	jtab-padding : 2px 2px 4px 4px;
}

CTabFolder#org-eclipse-ui-editorss.MArea Composite.MPartSashContainer {
	background-color: #d9b5d0;
}

/**************************************************
 * Text Editor
 **************************************************/
.MPart.Editor Canvas {
	background-color: #f0f0f0;
}

.MPart.Editor StyledText {
	jeditor-line-style : none;
	jeditor-line-color : #f0f0f0;
}

/**************************************************
 * Customized Text Editor Support
 **************************************************/
.MPart Section StyledText
{
	background : jtexteditor-background;
	color : jtexteditor-foreground;
}

/**************************************************
 * Forms
 **************************************************/
.MPart FormHeading {
	jtext-background: #ffffff #fbe7f3 100%;
	color : #ac5295;
	jbottom-keyline-1-color: #ffffff;
	jbottom-keyline-2-color: #f3b1d4;
}

.MPart Section {
	jtitle-bar-background-color:  #fbe7f4;
	jtitle-bar-border-color:  #f3b1d4;
	jtitle-bar-text-color :  #aa5193;
	jtitle-bar-active-text-color :  #bd71a9;
}

/**************************************************
 * Others
 **************************************************/
.DragFeedback {
	background-color: #811764;
	jswt-alpha: 255;
}

/**************************************************
 * User Custom CSS
 **************************************************/
