template(name="howToApply")
	.how-to-apply
		h3 How to apply themes to my eclipse?
		p.text-justify
			| If you did not install <b>Jeeeyul's Eclipse Themes</b>, Install it first.
		
		p.text-justify
			| Just drag
			| <a href="http://marketplace.eclipse.org/marketplace-client-intro?mpc_install=339851"><img src="/images/installbutton.png"></a>
			| into your Eclipse.
			| (Eclipse 4.3 or higher version and marketplace client installation are required)
			
		p.text-justify If you don't have marketplace client, Install it using update site URL:
		
		pre.well.well-sm.
			http://eclipse.jeeeyul.net/update
			
		p.text-justify
			| After installation you can find <b>Theme Store</b> menu from Toolbar.
		
		p
			| Do you like this project? Please checkout the 
			a(href="{{pathFor 'donate'}}") ways to help this project
			| .
