<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.e4.ui.css.swt.theme">
      <theme
            basestylesheeturi="css/chrome.css"
            id="net.jeeeyul.eclipse.themes.chrome"
            label="Jeeeyul&apos;s themes - Chrome Theme">
      </theme>
      <theme
            basestylesheeturi="css/gtk-adwaita.css"
            id="net.jeeeyul.eclipse.themes.gtk.adwaita"
            label="Jeeeyul&apos;s themes - GTK Theme (Adwaita)">
      </theme>
      <theme
            basestylesheeturi="css/gtk-zukito.css"
            id="net.jeeeyul.eclipse.themes.gtk.zukito"
            label="Jeeeyul&apos;s themes - GTK Theme (Zukito)">
      </theme>
      <stylesheet
            uri="css/chrome-tabfolder-preview.css">
      </stylesheet>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="net.jeeeyul.eclipse.themes.preference.ChromePreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.ui.preferencePages.Views"
            class="net.jeeeyul.eclipse.themes.preference.ChromePreferencePage"
            id="net.jeeeyul.eclipse.themes.preference.ChromePreferencePage"
            name="Chrome">
      </page>
   </extension>
   <extension
         id="id1"
         point="org.eclipse.e4.workbench.model">
      <processor
            beforefragment="true"
            class="net.jeeeyul.eclipse.themes.e4.ChromeProcessor">
      </processor>
   </extension>
   <extension
         point="org.eclipse.ui.preferenceTransfer">
       <!-- 
       	16: User can export their chrome theme preferences and reuse it with other workspace
		https://github.com/jeeeyul/eclipse-themes/issues/issue/16
		-->
      <transfer
            icon="icons/palette.gif"
            id="net.jeeeyul.eclipse.themes.transfer"
            name="Chrome Theme Settings">
         <mapping
               scope="instance">
            <entry
                  node="net.jeeeyul.eclipse.themes">
            </entry>
         </mapping>
         <description>
            Exports Chrome Theme preference settings.
         </description>
      </transfer>
   </extension>

</plugin>
