<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.e4.ui.css.swt.theme">
      <theme
            basestylesheeturi="css/chrome.css"
            id="net.jeeeyul.eclipse.themes.chrome"
            label="Jeeeyul&apos;s themes - Chrome Theme">
      </theme>
      <theme
            basestylesheeturi="css/chrome-blue.css"
            id="net.jeeeyul.eclipse.themes.chrome.blue"
            label="Jeeeyul&apos;s themes - Chrome Theme (Blue)">
      </theme>
      <theme
            basestylesheeturi="css/chrome-pink.css"
            id="net.jeeeyul.eclipse.themes.chrome.pink"
            label="Jeeeyul&apos;s themes - Chrome Theme (Pink)">
      </theme>
   </extension>

</plugin>
