<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="Sample App"
            application="org.eclipse.ui.ide.workbench">
         <property
               name="appName"
               value="Sample App">
         </property>
         <property
               name="applicationCSS"
               value="platform:/plugin/net.jeeeyul.eclipse.themes.test.e4app/css/default.css">
         </property>
      </product>
   </extension>
   <extension
         id="id1"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
      </application>
   </extension>

</plugin>
