.jeeeyul-custom-theme{
	/* This class must appear first. */
}

/**************************************************
 * Window
 **************************************************/
Shell.MTrimmedWindow {
	margin-top: 4px;
	margin-right: 3px;
	margin-bottom: 3px;
	margin-left: 4px;
	background-color: #d3dee9;
}

.MPartSashContainer {
	jsash-width : 6px;
	background-color: #d3dee9;
}



/**************************************************
 * Main Toolbar
 **************************************************/
#main-toolbar {
	background-color:#f4f8fc #e7eff8 #a7bacd #e0eaf3 92% 92% 100%;
}

#main-toolbar > .Draggable {
	handle-image:
		url(jeeeyul://drag-handle?height=22&background-color=#ecf3f9&embossed=false);
}

#main-toolbar > .TrimStack {
	frame-image: none;
	handle-image:
		url(jeeeyul://drag-handle?height=22&background-color=#ecf3f9&embossed=false);
}

#main-toolbar #PerspectiveSwitcher {
	background-color: #acbed0 #d3dee9 #d3dee9 8% 100%;
	handle-image: none;
	eclipse-perspective-keyline-color: #d3dee9;
}

#main-toolbar #PerspectiveSwitcher ToolBar {
	jtool-item-color : #000000;
}



/**************************************************
 * Status Bar
 **************************************************/
#status-bar{
	background-color:#d3dee9 #c7d1da #f4f8fc #e0eaf3 9% 9% 100%;
}

#status-bar,
#status-bar *
{
	color : #24272a;
}

#status-bar ToolBar{
	jtool-item-color : #24272a;
}

#status-bar .Draggable {
	handle-image:
		url(jeeeyul://drag-handle?height=22&background-color=#eaf1f7&embossed=false);
}

#status-bar .TrimStack {
	handle-image:
		url(jeeeyul://drag-handle?height=22&background-color=#eaf1f7&embossed=false);
	frame-image: url(jeeeyul://frame?background-color=#eaf1f7);
	frame-cuts: 4px 2px 5px 16px;
}



/**************************************************
 * Trim Stack
 **************************************************/
Shell.MTrimmedWindow > .MTrimBar > .TrimStack {
	frame-image: url(jeeeyul://frame?background-color=#d3dee9);
	frame-cuts: 4px 2px 5px 16px;
	handle-image:
		url(jeeeyul://drag-handle?height=22&background-color=#d3dee9&embossed=false);
}

Shell.MTrimmedWindow > .MTrimBar > .MToolBar.Draggable {
	handle-image:
		url(jeeeyul://drag-handle?height=22&background-color=#d3dee9&embossed=false);
}



/**************************************************
 * Inactive Part Stack
 **************************************************/
.MPartStack {
	swt-tab-renderer: url('bundleclass://net.jeeeyul.eclipse.themes/net.jeeeyul.eclipse.themes.rendering.JeeeyulsTabRenderer');
	swt-mru-visible: true;
	
	/* layout */
	swt-tab-height: 22px;
	jtab-border-radius: 3px;
	jtab-spacing: 2px;
	jtab-item-padding: 0px 5px;
	jtab-item-horizontal-spacing: 0px;
	jtab-padding : 2px;
	jtab-truncate-tab-items : true;
	jtab-use-ellipses : false;
	jtab-minimum-characters : 1;
	jtab-close-button-alignment : baseline;
	
	jtab-margin : 0px 1px 1px 0px;
	jtab-shadow-color: none;
	jtab-shadow-position: 0px 0px;
	jtab-shadow-radius: 0px;
	
	/* tab background */
	jtab-header-background : #d2dee9 #d2dee9 #acc6de 86% 100%;
	jtab-border-color : none;
	background : #ffffff;
	
	/* selected tabs */
	jtab-selected-tab-background: #ffffff #ffffff 100%;
	jtab-selected-border-color: none;
	jtab-selected-text-shadow-color: none;

	/* unselected tabs */
	jtab-unselected-tabs-background: #b9c8d8 #c0cdda #8da9c3 86% 100%;
	
	jtab-unselected-border-color: none;
	jtab-unselected-text-shadow-color: none;
	
	/* hover tabs */
	jtab-hover-color : #ffffff;
	jtab-hover-tabs-background: #8dadcd #729abf 100%;
	
	jtab-hover-border-color: none;
	jtab-hover-text-shadow-color: none;
	
	jtab-close-button-color: #cdcdcd;
	jtab-close-button-hot-color: #b05656;
	jtab-close-button-active-color: #dd1b1b;
	jtab-close-button-line-width: 2px;
	
	jtab-chevron-color: #306498;
}

.MPartStack>CTabItem {
	/* unselected tab text */
	color: #274a7a;
}

.MPartStack>CTabItem:selected {
	/* selected tab text */
	color: #306498;
}


/**************************************************
 * Active Part Stack
 **************************************************/
.MPartStack.active {
	swt-tab-renderer: url('bundleclass://net.jeeeyul.eclipse.themes/net.jeeeyul.eclipse.themes.rendering.JeeeyulsTabRenderer');
	
	/* tab background */
	jtab-header-background : #d2dee9 #d2dee9 #acc6de 86% 100%;
	jtab-border-color : none;
	background : #ffffff;
	
	/* selected tabs */
	jtab-selected-tab-background: #3383c6 #3383c6 #ffffff #ffffff 16%16% 100%;
	jtab-selected-border-color: #3383c6 #3383c6 #3383c6 99% 100%;
	jtab-selected-text-shadow-color: none;

	/* unselected tabs */
	jtab-unselected-tabs-background: #b9c8d8 #c0cdda #8da9c3 86% 100%;
	
	jtab-unselected-border-color: none;
	jtab-unselected-text-shadow-position: 0px 1px;
	jtab-unselected-text-shadow-color: #dee8f3;
	
	/* hover tabs */
	jtab-hover-color : #ffffff;
	jtab-hover-tabs-background: #8dadcd #729abf 100%;
	
	jtab-hover-border-color: none;
	jtab-hover-text-shadow-color: none;
	
	jtab-close-button-color: #cdcdcd;
	jtab-close-button-hot-color: #b05656;
	jtab-close-button-active-color: #dd1b1b;
	jtab-close-button-line-width: 2px;
	
	jtab-chevron-color: #306498;
}

.MPartStack.active>CTabItem {
	/* unselected tab text */
	color: #274a7a;
}

.MPartStack.active>CTabItem:selected {
	/* selected tab text */
	color: #306498;
}

/**************************************************
 * Busy Part
 **************************************************/
.MPart{
	font-style: normal;
}

.MPart.busy {
	font-style: italic;
}



/**************************************************
 * Editor Part Stack
 **************************************************/
.MPartStack.EditorStack{
	jtab-truncate-tab-items : true;
	jtab-minimum-characters : 8;
}



/**************************************************
 * Empty Editor Stack
 **************************************************/
#org-eclipse-ui-editorss.MArea .MPartStack.empty{
	jtab-header-background : #98abbe #bbcad8 #bbcad8 15% 100%;
	jtab-border-color : none;
	background : #bbcad8;
}



/**************************************************
 * Editors Area
 **************************************************/
CTabFolder#org-eclipse-ui-editorss.MArea{
	swt-tab-renderer: url('bundleclass://net.jeeeyul.eclipse.themes/net.jeeeyul.eclipse.themes.rendering.JeeeyulsTabRenderer');
	swt-tab-height: 10px;
	jtab-header-background : #d3dee9 #d3dee9 100%;
	jtab-border-color : #aab7c3 #aab7c3 100%;
	jtab-selected-tab-background: #d3dee9 #d3dee9 100%;
	jtab-selected-border-color: none;
	swt-single : true;
	
	jtab-margin : 0px;
	jtab-shadow-color: none;
	jtab-shadow-position: 0px 0px;
	jtab-shadow-radius: 0px;
	jtab-padding : 2px;
}

CTabFolder#org-eclipse-ui-editorss.MArea Composite.MPartSashContainer {
	background-color: #d3dee9;
}



/**************************************************
 * Text Editor
 **************************************************/
.MPart.Editor Canvas {
	background-color: #eff6fe;
}

.MPart.Editor StyledText,
.MPart.Editor StyledTextWithoutVerticalBar /* PyDev support */{
	jeditor-line-style : none;
	jeditor-line-color : #f0f0f0;
	jeditor-range-indicator-color: #d0e6fe;
}



/**************************************************
 * Customized Text Editor Support
 **************************************************/
.MPart Section StyledText
{
	background : jtexteditor-background;
	color : jtexteditor-foreground;
}



/**************************************************
 * Forms
 **************************************************/
.MPart FormHeading {
	jtext-background: #ffffff #e7f1fb 100%;
	color : #586a7e;
	jbottom-keyline-1-color: #ffffff;
	jbottom-keyline-2-color: #b1d1f3;
}

.MPart Section {
	jtitle-bar-background-color:  #e7f1fb;
	jtitle-bar-border-color:  #b1d1f3;
	jtitle-bar-text-color :  #586a7e;
	jtitle-bar-active-text-color :  #7b8fa5;
}

.MPart FormText {
	hyperlink-color: #0000ff;
	active-hyperlink-color: #11149b;
}



/**************************************************
 * Others
 **************************************************/
.DragFeedback {
	background-color: #ff6900;
	jswt-alpha: 127;
}

#org-eclipse-ui-HeapStatus {
	color: #F9FDBA;
}

/**************************************************
 * User Color and Font Changes
 **************************************************/
IEclipsePreferences#org-eclipse-ui-editors {
  preferences:
    'linked.focus.color=70,100,165'
    'linked.target.color=70,100,165';
}


/**************************************************
 * User Custom CSS
 **************************************************/
